.play-controls .play-control {
    stroke: 1px solid #883;
    fill: #883;
    width: 2em;
    height: 2em;
    margin: .2em;
    text-align: center;
    float: left;
}
.play-controls .play-control:hover {
    fill: #CC6;
}
.play-controls {
    margin-bottom: 3em;
}

.hidden {
    display: none;
}