.midi-machine-form {
    margin-bottom: 2em;
    border-left: 1.2em solid #443;
    padding-left: 1em;
    padding-bottom: .5em;
}

.midi-machine-form .row:first .form-label {
    margin-top: 0rem;
}
.form-label {
    margin-bottom: 0rem;
    color: #aaa;
    margin-top: 1rem;
}

.btn-primary {
    background-color: #443;
    border-color: #663;
}

.btn-danger {
    background-color: #433;
    border-color: #633;
}