.midi-machine-form {
  margin-bottom: 2em;
  border-left: 1.2em solid var(--main-background-color);
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.midi-machine-form .row:first .form-label {
  margin-top: 0rem;
}
.form-label {
  margin-bottom: 0rem;
  color: #aaa;
  margin-top: 1rem;
}

.btn-primary {
  background-color: var(--main-background-color);
  border-color: var(--main-foreground-color);
}

.btn-danger {
  background-color: var(--danger-background-color);
  border-color: var(--danger-foreground-color);
}
