.BPM-display {
  margin-bottom: 3em;
}
.BPM-display div {
  border: 1px solid var(--main-foreground-color);
  background-color: var(--main-background-color);
  color: white;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  text-align: center;
  float: left;
  font-weight: 400;
  vertical-align: middle;
  line-height: 1.8em;
}
div .BPM-display div.active-beat {
  border: 1px solid var(--highlight-foreground-color);
  color: var(--highlight-foreground-color);
  background-color: var(---highlight-background-color);
}

.BPM-display div.BPM-quarter {
  border: 1px solid var(--danger-foreground-color);
  color: white;
  background-color: var(--danger-background-color);
}
